{<<"app">>,<<"groq">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"Elixir client for Groq API">>}.
{<<"elixir">>,<<"~> 1.13">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/groq">>,<<"lib/groq/sender_pool.ex">>,
  <<"lib/groq/client.ex">>,<<"lib/groq/request.ex">>,<<"lib/groq/sender.ex">>,
  <<"lib/groq/config.ex">>,<<"lib/groq/http_client.ex">>,
  <<"lib/groq/chat_completion.ex">>,<<"lib/groq/http_clients">>,
  <<"lib/groq/http_clients/hackney_client.ex">>,<<"lib/groq/application.ex">>,
  <<"lib/groq.ex">>,<<"LICENSE">>,<<"mix.exs">>,<<"README.md">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/connorjacobsen/groq-elixir">>}]}.
{<<"name">>,<<"groq">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"nimble_options">>},
   {<<"name">>,<<"nimble_options">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.1">>}],
  [{<<"app">>,<<"hackney">>},
   {<<"name">>,<<"hackney">>},
   {<<"optional">>,true},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.8">>}],
  [{<<"app">>,<<"jason">>},
   {<<"name">>,<<"jason">>},
   {<<"optional">>,true},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.1">>}],
  [{<<"app">>,<<"telemetry">>},
   {<<"name">>,<<"telemetry">>},
   {<<"optional">>,true},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 0.4 or ~> 1.0">>}]]}.
{<<"version">>,<<"0.1.0">>}.
